<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="app.alextran.immich" />
        <intent>
            <action android:name="com.android.camera.action.REVIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.provider.action.REVIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.provider.action.REVIEW_SECURE" />
            <data
                android:mimeType="*/*"
                android:scheme="content" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.DayNight"
    >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/vnd.google.panorama360+jpg" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
